# Python
__pycache__
*venv*

# JavaScript
node_modules
package-lock.json

# Database
*.sqlite
*.db

# test files
test*.*

# VSCode files
.vscode

# Local secrets (see .env.example)
.env

# Build files
build
dist
*.exe
*.zip

# log files
*.log

# Text Files
*.txt

# version files
version.txt